	<div class="navbar-spacer"></div>
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag("1.jpg") %>
				<div class="carousel-caption clearfix">
					<p>Start out on the right foot with an excellent theme for Twitter Bootstrap.</p>
					<h1 class="pull-left">A Solid Foundation</h1>
					<p><a class="btn btn-primary btn-large pull-right" href="styles.html">Explore the Changes</a></p>
				</div>
			</div>
    </div>
	</div>


	<div class="container">	
		<section id="why">
			<div class="row">
				<div class="span4">
					<h3><i class="icon-resize-full"></i> Responsive to the Core</h3>
					Go ahead, resize your browser.  The Distinctive theme it will look great at any resolution.
				</div>
				<div class="span4">
					<h3><i class="icon-search"></i> Small Details</h3>
					The small details are really what make the Distinctive theme shine.  From the subtle background texture to the enhanced depth and definition this theme has it where it counts.<br/>
					<a class="btn" href="styles.html">Review the Changes</a>
				</div>
				<div class="span4">
					<h3><i class="icon-font"></i> Font Awesome Icons!</h3>
					Distinctive includes the incredible <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">
					Font Awesome</a> icons which can scale infinitely and be styled with css.  To see what we mean check out this demo:<br/><a class="btn" href="styles.html#icons">Icon Demo</a>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<h3>$ Pricing Page</h3>
					A well designed pricing page can make a huge difference for your site, and the Distinctive theme comes with a great one.  
				</div>
				<div class="span4">
					<h3><i class="icon-ok"></i> Intuitive Forms</h3>
					The Distinctive theme builds upon Bootstrap's already excellent forms by adding several refinements which make it even easier to create forms your users will love.
					For some examples check out the sample <a href="signup.html">Signup</a> and <a href="login.html">Login</a> forms.
				</div>
				<div class="span4">
					<h3><i class="icon-github"></i> All Files Included</h3>
					Just like Twitter Bootstrap, the Distinctive theme is built with less.  All these less files are included, so you can go back and create custom builds or tweak things as need be.
				</div>
			</div>
		</section>
	</div>

