  <footer>
    <div class="container">
      <div class="row">
        <div class="span3">
          <h4>Example Pages</h4>
          <ul>
            <li><a href="signup.html">Signup Form</a></li>
            <li><a href="login.html">Login Form</a></li>
            <li><a href="pricing.html">Pricing Page</a></li>
            <li><a href="blog.html">Blog</a></li>
          </ul>
        </div>
        <div class="span3">
          <h4>Contact Us</h4>
          <address>
            <strong>Awesome Company</strong><br>
            123 Success Ave<br>
            Some City, CA 98888<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br/>
            <a href="mailto:support@AwesomeCompany.com">support@AwesomeCompany.com</a>
          </address>
        </div>        
        <div class="span4">
          <h4>About</h4>
          <p>We are an awesome company that does incredible things.  We make our widgets better than anyone else and we take pride in that.</p>
        </div>
        <div class="span2 social">
          <h4>Social</h4>
          <div class="row-fluid">
            <div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-facebook"></i></a></div>
            <div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-twitter"></i></a></div>
            <div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-linkedin"></i></a></div>
            <div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-google-plus"></i></a></div>
            <div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-pinterest"></i></a></div>
            <div class="pull-left"><a class="btn btn-small"><i class="icon-large icon-github"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>